@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
.root {
    --Light-3: #EBEBF0;
    --Light-2: #F2F2F5;
    --Dark-2: #555770;
}

.netlogo-header {
    width: 100%;
    height: 5.505rem;
    background-color: black;
    flex-shrink: 0;
    border-bottom: 1px solid var(--Light-3, #EBEBF0);
    background: var(--Light-2, #F2F2F5);
    overflow:hidden;
    transition: height 0.3s ease-out;
}

#netlogo-title {
	font-family: Dosis;
	font-weight: 650;
}

.header-action-bar {
	box-sizing: border-box;
    height: 3rem;
    cursor: default;
    margin-top: 1.88rem;
    display: flex;
    flex-direction: row;
	align-items: center;
	padding-left: 2.64rem;
	padding-right: 2.64rem;
	justify-content: space-between;
}

.header-action {
	color: var(--Dark-2, #555770);
	font-family: Inter;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
	letter-spacing: 0.025rem;
}

.header-action-hovered {
    color: #FB6055;
}

.header-action-cont {
    display: flex;
    flex-direction: row;
    gap: 0.62rem;
    justify-content: center;
    align-items: center;
}

.header-action-cont:first-child {
    gap: 0.63rem;
}

.netlogo-icon-cont {
    position: relative;
    height: 1.875rem;
    width: 1.875rem;
}

.icon {
    position: absolute;
}

.icon:first-child {
    top: 0;
    left: 0;
    z-index: 1;
}

.icon:last-child {
    top: calc(47%);
    left: calc(55%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.dropdown-icon {
    width: 1rem;
    height: 1rem;
}

.header-expanded {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    border-bottom: 1px solid var(--Light-3, #EBEBF0);
    background: var(--Light-2, #F2F2F5);
    position: absolute;
    top: 5.505rem;
    z-index: 1;
    justify-content: center;
    padding-bottom: 1.88rem;
    grid-column: 2 / -1;
}

.header-expanded.expanded {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
}

.header-expanded > *:first-child {
  grid-column: 2;
}

.header-expanded-content {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin-left: 11.1rem;
    width: 100%;
}

.header-action-column {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    width: 14rem;
    text-align: left;
}

.header-action-title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
    color: var(--Dark-3, #8F90A6);
    /* txt/normal/rg */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    cursor: pointer;
}

.header-action-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.header-action-content {
    color: var(--Dark-2, #555770);
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    cursor: pointer;
}

.header-expanded-line {
    border-bottom: 1px solid var(--Dark-3, #8F90A6);
    width: 95.7%;
    margin: auto;
    margin-bottom: 0.81rem;
}
