---
import Layout from "../layouts/Layout.astro";
import { ContactSection } from "../components/contact/contact-page";
import NetLogoApi from "../utils/api.js";




---

<Layout>
    <!-- <h1>Contact</h1> -->
    <ContactSection/>
</Layout>
