.community-content {
    display: flex;
    flex-direction: row;
    gap: 7.5rem;
    justify-content: flex-start;
}

.community-models {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.preview-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.preview-display { 
    border-radius: 1rem;
    border: 1px solid var(--Light-1, #FAFAFC);
    background: #FFF;
    box-shadow: 0px 20px 20px -15px rgba(143, 144, 166, 0.25);
    display: flex;
    width: 22.5rem;
    height: 19.375rem;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

/** right side: community posts container **/
.community-post-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    gap:1.25rem;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.community-post-cont:hover {
    box-shadow: 0px 0px 20px 5px rgba(143, 144, 166, 0.20);
}

.community-post-icon {
    border-radius: 3.5rem;
    background: var(--Dark-3, #8F90A6);
    display: flex;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.community-post-icon-image {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.community-post-descript {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.community-post-user-date-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--Dark-2, #555770);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
}

.community-post-title {
    color: var(--Dark-1, #28293D);
    /* txt/small/semi */
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.3125rem */
    text-align: left;
}

.community-post-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.community-preview-image { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
