.intro {
    width: 100%;
    padding-top: 7.245rem;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFF;
}

.intro-title {
    width: 83.333%;
    /* Heading 1 */
    font-family: Inter;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 4.2rem */
    letter-spacing: 0.07rem;
    background: #555770;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -3rem; /** THIS IS A HOTFIX, WE NEED TO REMOVE THIS LATER (weird margins with intro title that shouldn't be there **/
}

.intro-text {
    margin-top: -3rem; /** padding hotfix one again **/
    width: 83.333%;
    color: var(--Dark-2, #555770);
    text-align: center;
    /* txt/medium/semi */
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 150%; /* 1.6875rem */
}

.intro-title-text-cont {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.intro-btn-cont {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
	display: flex;
	padding: 2.5625rem 22.28125rem 2.5rem 22.21875rem;
	justify-content: center;
	align-items: flex-start;
	gap: 2.5625rem;
}

.intro-btn {
    display: flex;
    padding: 1rem 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
    letter-spacing: 0.0225rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.intro-get-btn {
    background: var(--Secondary-color, #0670ED);
    border: 2px solid #0670ED;
    color: var(--White, #FFF);
}

.intro-learn-btn {
    border: 2px solid var(--Secondary-color, #0670ED);
    color: var(--Secondary-color, #0670ED);
    background-color: #FFFFFF
}
